body {
    background-color: #212121;
    color: #ffffff;
    margin: 0;
}

a {
    color: #ffffff;
}

header {
    background-color: #141414;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_link {
    margin: 0;
    padding: 16px;
    text-decoration: none;
}

.header_text {
    margin: 0;
}

.login_form {
    position: absolute;
    right: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.logged_in_as_box {
    position: absolute;
    right: 16px;
    display: flex;
    flex-direction: row;
}

.logged_in_as_text {
    margin-right: 8px;
}

.new_post {
    background-color: #141414;
    width: 500px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
}

.new_post form {
    display: grid;
    grid-template-columns: 392px 16px 92px;
}

.new_post input {
    grid-column: 1/2;
}

.new_post button {
    grid-column: 3/4;
}

.post {
    background-color: #141414;
    width: 500px;
    padding: 0 16px;
    margin-top: 16px;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
    overflow-wrap: break-word;
}

.post_header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
}

.post_content {
    overflow-wrap: inherit;
}

.username {
    width: 80%;
    overflow-wrap: inherit;
}

.date {
    position: absolute;
    margin: 0;
    right: 0;
}

.align_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side_bar {
    width: 300px;
    height: calc(100vh - 102px);
    /* position: absolute; */
    position: fixed;
    top: 85px;
    right: 16px;
    background-color: #141414;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0);
    padding: 0 16px;
}

.list_style_type_none {
    list-style-type: none;
}